/* --- Base variables (light theme default) --- */
:root {
    --bg: #ffffff;
    --surface: #ededed;
    --divider: #d9d9d9;
    --text: #111111;
    --text-muted: #525252;
    --primary: #000000;
    --primary-hover: #518cc2;
    --border: #000000;

    --divider-size: 0.4rem;

    --font-sans: sans-serif;
    --font-mono: monospace;

    --transition-time: 0.2s;
}

/* --- Dark theme overrides --- */
[data-theme="dark"] {
    --bg: #0f0f10;
    --surface: #1c1c1e;
    --divider: #333334;
    --text: #f0f0f0;
    --text-muted: #cecece;
    --primary: #ffffff;
    --primary-hover: #61b554;
    /* --primary-hover: #32822b; lower contrast alternative */
    --border: #ffffff;
}

/* --- System preference fallback (when theme = "system") --- */
@media (prefers-color-scheme: dark) {
    [data-theme="system"] {
        --bg: #0f0f10;
        --surface: #1c1c1e;
        --text: #f0f0f0;
        --text-muted: #a0a0a0;
        --primary: #818cf8;
        --primary-hover: #6366f1;
        --border: #2e2e32;
    }
}


html {
    background-color: var(--bg);
}

/* Colors transition instantly. */
/* We don't do an ease of color transitions because some modern browsers don't really support it. */

.no-transition * {
    transition: none !important;
}

/* --- Global base styles --- */
body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-sans);
    transition: background-color var(--transition-time), color var(--transition-time);
    margin: 0;
    /* margin: 2rem;*/
}



h1 {
    color: var(--primary);
}

.card {
    background: var(--surface);
    border: 1px solid var(--border);
    color: var(--text);
}

p {
    color: var(--text-muted);
}